/*
CSS Credit: http://www.templatemo.com/
*/

@keyframes move-left-to-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes move-right-to-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Sylfaen, Arial;
	font-size: 12px;
	color: #666;
	background: #ffffff;
}


.section {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.panel {
    display: flex; /* Ustawia elementy wewnątrz w linii lub kolumnie */
    flex-direction: column; /* Ustawia kierunek elementów wewnątrz na kolumnę */
    align-items: center; /* Wyrównuje elementy wewnątrz w pionie do środka */
    justify-content: center; /* Wyrównuje elementy wewnątrz w poziomie do środka */
    gap: 10px; /* Odstęp między elementami */
    padding: 20px; /* Wewnętrzny odstęp */
    margin: 10px 0; /* Zewnętrzny odstęp */
    background-color: #f9f9f9; /* Kolor tła */
    border: 1px solid #ccc; /* Obramowanie */
    border-radius: 5px; /* Zaokrąglenie rogów */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Cień */
    width: 100%; /* Szerokość elementu */
    max-width: 600px; /* Maksymalna szerokość elementu */
    height: auto; /* Wysokość elementu */
    overflow: hidden; /* Ukrywa nadmiar treści */
    transition: all 0.3s ease; /* Animacja przejścia */
    box-sizing: border-box; /* Uwzględnia padding i border w szerokości i wysokości */
}

.panel .panel {
    flex-grow: 1; /* Pozwala elementowi rosnąć, aby wypełnić dostępne miejsce */
    flex-shrink: 1; /* Pozwala elementowi kurczyć się, aby zmieścić się w dostępnej przestrzeni */
    flex-basis: auto; /* Ustawia podstawową wielkość elementu */
    overflow: auto; /* Dodaje paski przewijania, jeśli zawartość przekracza rozmiar elementu */
    width: 100%; /* Ustawia szerokość elementu na 100% szerokości rodzica */
    height: 100%; /* Ustawia wysokość elementu na 100% wysokości rodzica */
}

.wyswietlacz-container {
    display: flex; /* Ustawia elementy wewnątrz w linii */
    align-items: center; /* Wyrównuje elementy wewnątrz w pionie */
    justify-content: center;
    gap: 10px; /* Odstęp między elementami */
    padding: 10px; /* Wewnętrzny odstęp */
    margin: 10px 0; /* Zewnętrzny odstęp */
    background-color: #ffffff;
    border: 1px solid #ccc; /* Obramowanie */
    border-radius: 5px; /* Zaokrąglenie rogów */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Cień */
	/*width: 100%;  Szerokość elementu */
    max-width: 600px; /* Maksymalna szerokość elementu */
}

.wyswietlacz-windy-container {
    display: flex; /* Ustawia elementy wewnątrz w linii */
    align-items: center; /* Wyrównuje elementy wewnątrz w pionie */
    justify-content: center;
    gap: 10px; /* Odstęp między elementami */
    padding: 10px; /* Wewnętrzny odstęp */
    margin: 0px; /* Zewnętrzny odstęp */
    background-color: rgb(140, 158, 178);
    border: 1px solid #ccc; /* Obramowanie */
    border-radius: 5px; /* Zaokrąglenie rogów */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Cień */
	/*width: 100%;  Szerokość elementu */
    max-width: 600px; /* Maksymalna szerokość elementu */
}

.floor-number-labels {
	display: flex;
	flex-direction: column-reverse;
	height: 1100px;
	justify-content: space-between;
	text-align: center;
	margin: 0;
}

.numer-pietra-container {
	height: 90px; /* Wysokość piętra */
	width: 50px;
	display: flex;
	justify-content: center; /* Wyrównanie tekstu w poziomie */
	align-items: center; /* Wyrównanie tekstu w pionie */
	margin: 0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #fffefe; /* Kolor tła */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Cień */
}

.przyciski-sekcja {
	position: relative;
	overflow: hidden;
	height: 90px;
	width: 50px;
	background: #f0f0f0;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	margin: 0;
	border: 2px solid #ccc;
    border-radius: 2px;
}

.wejscie-do-windy {
	position: relative;
	overflow: hidden;
	background: #ffffff;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	margin: 0;
	width: 175px;
	height: 90px;
}

.wejscie-do-windy img {
    width: 45px; /* Dopasowanie szerokości grafiki do szerokości kontenera */
    height: 85px; /* Automatyczne dostosowanie wysokości grafiki */
    display: none; /* Domyślnie ukryj grafikę */
	animation: move-left-to-right 1s linear; /* Dodanie animacji */
}

.oczekujacy-pasazerowie {
	font-family: "Helvetica", sans-serif;
}

.zawartosc-pietra-container {
    display: flex; /* Ustawia elementy wewnątrz w linii */
    align-items: center; /* Wyrównuje elementy wewnątrz w pionie */
    justify-content: center;
    margin: 0px; /* Zewnętrzny odstęp */
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #f9f9f9; /* Kolor tła */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Cień */
    width: 100%; /* Szerokość elementu */
    max-width: 600px; /* Maksymalna szerokość elementu */
	height: 90px
}

.label {
    width: 150px; /* Szerokość elementu */
    text-align: center; /* Wyrównanie tekstu do prawej */
    font-weight: bold; /* Pogrubienie tekstu */
    font-size: 14px; /* Rozmiar czcionki */
    color: #333; /* Kolor tekstu */
    background-color: #f0f0f0; /* Kolor tła */
    padding: 5px; /* Wewnętrzny odstęp */
    margin: 5px 0; /* Zewnętrzny odstęp */
    border: 1px solid #ccc; /* Obramowanie */
    border-radius: 5px; /* Zaokrąglenie rogów */
    display: inline-block; /* Wyświetlanie jako element blokowy w linii */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Cień */
}

.wyswietlacz {
    width: 50px;
    height: 50px;
    background-color: #8B0000;
    color: #FF0000;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    border: 2px solid #000;
    border-radius: 5px;
}

.wyswietlacz-wartosci {
    width: 125px;
    height: 30px;
    background-color: #f0f0f0;
    color: #000000;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
}

.wyswietlacz-wartosci-tekstowych {
    width: 125px;
    height: 30px;
    background-color: #f0f0f0;
    color: #000000;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
}

.wyswietlacz-pasazerów-typ1 {
    width: 125px;
    height: 30px;
    background-color: #c5c5c5;
    color: #c5c5c5;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
	text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Dodanie obramowania czcionki */
}

.wyswietlacz-pasazerów-typ2 {
    width: 125px;
    height: 30px;
    background-color: #7344a2;
    color: #7344a2;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
	text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Dodanie obramowania czcionki */
}

.wyswietlacz-pasazerów-typ3 {
    width: 125px;
    height: 30px;
    background-color: #fbe9b9;
    color: #fbe9b9;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
	text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Dodanie obramowania czcionki */
}

.wyswietlacz-pasazerów-overall {
    width: 125px;
    height: 30px;
    background-color: #f0f0f0;
    color: #000000;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
}

.wyswietlacz-pasazerów-nieobsluzonych-typ1 {
    width: 125px;
    height: 30px;
    background-color: #f0f0f0;
    color: #ff0000;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 3px solid #ff0000;
    border-radius: 5px;
}

.wyswietlacz-pasazerów-nieobsluzonych-typ2 {
    width: 125px;
    height: 30px;
    background-color: #7344a2;
    color: #ff0000;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 3px solid #ff0000;
    border-radius: 5px;
}

.wyswietlacz-pasazerów-nieobsluzonych-typ3 {
    width: 125px;
    height: 30px;
    background-color: #fbe9b9;
    color: #ff0000;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 3px solid #ff0000;
    border-radius: 5px;
}

.wyswietlacz-pasazerów-nieobsluzonych-overall {
    width: 125px;
    height: 30px;
    background-color: #f0f0f0;
    color: #ff0000;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 3px solid #ff0000;
    border-radius: 5px;
}

h1 {
	margin: 20px 0;
}

.lift-shaft-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 0px;
}

.shaft {
	position: relative;
	width: 50px;
	height: 1100px; /* Wysokość szybu */
	border: 2px solid black;
	margin: 50px 0;
	overflow: hidden;
	background: #f0f0f0;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	margin: 0;
}

.shaft .section {
	height: calc(1100px / 33); /* Wysokość sekcji (3 sekcje na piętro) */
	border-top: 1px solid #ccc;
}

.elevator {
	position: absolute;
	width: 100%;
	height: calc(1100px / 11); /* Wysokość windy (3 sekcje na piętro) */
	background: #333;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 1s ease-in-out;
}

.responsive-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Możesz użyć 'contain' lub 'fill' w zależności od potrzeb */
    max-height: 100%; /* Upewnij się, że obraz nie przekracza wysokości elementu rodzica */
}

.floor-labels-left {
	display: flex;
	flex-direction: column-reverse;
	height: 1100px;
	justify-content: space-between;
	text-align: center;
	margin: 0;
	width: 125px
}

.floor-labels-right {
	display: flex;
	flex-direction: column-reverse;
	height: 1100px;
	justify-content: space-between;
	text-align: center;
	margin: 0;
	width: 215px;
}

.floor-labels div {
	height: 90px; /* Wysokość piętra */
	/*width: 200px; */
	display: flex;
	justify-content: space-evenly; /* Wyrównanie tekstu w poziomie */
	/* align-items: center; */ /* Wyrównanie tekstu w pionie */
	margin: 0;
}

/* Styl dla kontenera sekcji */
.sekcja-wyswietlaczy-panelu-wyboru-pietra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80px;
    border: 1px solid #000;
    padding: 10px;
    background-color: rgb(140, 158, 178)
}

/* Styl dla pojedynczej sekcji */
.sekcja-z-przyciskiem {
    width: 48%; /* Dwie sekcje na rząd */
    margin-bottom: 10px;
    text-align: center;
}

.controls {
	margin-top: 20px;
}

button {
	margin: 5px;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background: #ddd;
}


a:link, a:visited { color: #000000; text-decoration: underline; font-weight: normal;} 
a:active, a:hover { color: #000000; text-decoration: none;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_15 { clear: both; width: 100%; height: 15px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_40 { margin-right: 40px; }
.margin_right_70 { margin-right: 70px; }

.fl { float: left; }
.fr { float: right }

.button_01 a{
	clear: both;
	display: block;
	width: 100px;
	height: 23px;
	padding-top: 5px;
	background: url(images/templatemo_button_01.png) no-repeat;
	
	
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.button_02 {
	clear: both;
	display: block;
	width: 130px;
	height: 40px;
	background: url(images/templatemo_button_01.png) no-repeat;
	background-size: cover;
	
	
	color: rgb(189, 128, 107);
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}


.header_01 {
	clear: both;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 40px;	
	color: #ffffff;
}

.header_02 {
	clear: both;
	padding-bottom: 20px;
	margin-bottom: 15px;
	font-size: 22px;
	letter-spacing: 2px;
	color: #000000;
	background: url(images/templatemo_header_01_bg.jpg) left bottom no-repeat;	
}

.header_03 {
	clear: both;
	height: 35px;
	padding: 15px 0 0 20px;
	font-size: 18px;
	color: #ffffff;
	background: url(images/templatemo_header_02_bg.jpg) repeat-x;
}

.header_04 {
	clear: both;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.header_04 a{
	clear: both;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.header_05 {
	clear: both;
	font-size: 14px;
	color: #ffffff;
	width: 128px;
	height: 24px;
	padding: 3px 0 0 20px;
	margin-bottom: 5px;
	background:  url(images/templatemo_footer_title_bg.png) no-repeat;
}



#templatemo_header_wrapper {
	width: 100%;
	height: 90px;
	margin: 0 auto;
	background: #19446a url(images/templatemo_header_bg.jpg) repeat-x;
}

#templatemo_header {
	width: 980px;
	margin: 0 auto;
}

#templatemo_header #site_logo {
	float: left;
	width: 300px;
	height: 84px;
	font-size: 40px;
	color: #ffffff;
	background: url(images/templatemo_logo.jpg) no-repeat;
}

/* menu */

#templatemo_menu {
	position: relative;
	float: right;
	height: 47px;
	margin: 20px 40px 0 0;
	background: url(images/templatemo_menu_right.jpg) right no-repeat;
}

#templatemo_menu #templatemo_menu_left{
	position: absolute;
	width: 20px;
	height: 47px;
	top: 0px;
	left: 0px;
	background: url(images/templatemo_menu_left.jpg) no-repeat;
}

#templatemo_menu ul {
	margin: 10px 20px 0 0;
	padding: 0px;
	list-style: none;
}

#templatemo_menu ul li{
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	display: block;
	width: 100px;
	padding: 5px 0;
	background: url(images/templatemo_menu_divider.jpg) right repeat-y;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #919191;	
	font-weight: normal;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #899fd7;
}

#templatemo_menu li .last {
	background: none;
}

/* end of menu*/

/* end of header */

#templatemo_banner_wrapper {
	clear: both;
	width: 100%;
	height: 281px;
	margin: 0 auto;
	background: #454545 url(images/templatemo_banner_repeat.jpg) repeat-x;
}

#templatemo_banner {
	width: 900px;
	height: 251px;
	margin: 0 auto;
	padding: 30px 40px 0 40px;;
	background:url(images/templatemo_banner_bg.jpg) bottom no-repeat;
}

#templatemo_banner #templatemo_banner_image {
	float: left;
	width: 440px;	
}

#templatemo_banner_content {
	float: right;
	text-align: left;
	width: 460px;
}

#templatemo_banner_content p {
	color: #b2b6bf;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 20px;
}

#templatemo_banner_image_wrapper {
	position: relative;
	width: 413px;
	height: 230px;
	background:url(images/templatemo_banner_image_bg.png) no-repeat;
}

#templatemo_banner_image_wrapper img {
	position: absolute;
	width: 380px;
	height: 210px;
	top: 10px; 
	left: 10px;
}


/* content */

#templatemo_content_wrapper {
	clear: both;
	width: 980px;
	margin: 0 auto;
	background: #ffffff;
}

#templatemo_content {
	width: 900px;
	padding: 50px 40px;
	background: #ffffff;
}


#column_w530 {
	float: left;
	width: 530px;
	line-height: 20px;
	background: #ffffff;
}

#column_w300 {
	max-height: 600px; /* Ustaw maksymalną wysokość kontenera */
	overflow-y: auto;  /* Włącz pionowe przewijanie */
	float: right;
	width: 298px;
	background: #efefef;
	border: 1px solid #e5e5e5;
}

#column_w530 .em_text {
	color: #000;
}

#column_w530 p {
	margin-bottom: 15px;
}

.content_list_01 {
	margin: 0 0 0 30px;
	padding: 0px;
	list-style: square;
}

.content_list_01 li {
	margin: 0px;
	padding: 0 0 10px 10px;
	
}

.content_section_01 {
	border-left: 10px solid #536592;
	padding-left: 20px;
}

.column_w300_section_01 {
	clear: both;
	padding: 20px 19px;
	background: url(images/templatemo_side_column_divider.jpg) bottom repeat-x;
}

.even_color {
	background: #e0dfdf;
}

.news_image_wrapper {
	float: left;
	width: 70px;
	height: 70px;
	padding: 4px;
	margin: 3px 0 0 0;
	border: 1px solid #dad8d8;
	background: #ffffff;
}

.news_image_wrapper img{
	width: 69px;
	height: 69px;
	border: 1px solid #9c9d85;
}

.news_content {
	float: right;
	width: 160px;
}

.news_content .news_date {
	font-size: 12px;
	color: #9a9a9a;
}

.news_content p{
	line-height: 15px;
	font-size: 11px;
}

/* end of content

/* footer */

#templatemo_footer_wrapper_inicjatory_ruchu_container {
	width: 80%;
	height: 100%;
	background-color: #ffffff;
    text-align: center;
    line-height: 30px;
	align-content: stretch;
    margin-top: 25px;
    margin-right: 150px;  
    margin-bottom: 0px; 
    margin-left: 150px;  
}

#templatemo_footer_wrapper_inicjatory_ruchu_negatywne_container {
	width: 80%;
	height: 100%;
	background-color: #ffffff;
    text-align: center;
    line-height: 30px;
	align-content: stretch;
    margin-right: 150px;  
    margin-bottom: 0px; 
    margin-left: 150px;  
}

.templatemo_footer_wrapper_inicjatory_ruchu_negatywne {
	width: 100%;
	height: 50px;;
	background-color: rgb(17, 17, 17);
    color: rgb(189, 128, 107);
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid rgb(189, 128, 107);
    border-radius: 5px;
	display: flex;
	flex-direction: column-reverse;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.templatemo_footer_wrapper_inicjatory_ruchu_domyslny {
	width: 100%;
	height: 50px;
	background-color: rgb(17, 17, 17);
    color: rgb(107, 207, 255);
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid rgb(107, 207, 255);
    border-radius: 5px;
	display: flex;
	flex-direction: column-reverse;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.templatemo_footer_wrapper_inicjatory_ruchu_pozytywne {
	width: 100%;
	height: 50px;
	background-color: rgb(17, 17, 17);
    color: rgb(0, 128, 0);
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid rgb(0, 128, 0);
    border-radius: 5px;
	display: flex;
	flex-direction: column-reverse;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.templatemo_footer_wrapper_inicjatory_ruchu_negatywne {
	width: 100%;
	height: 50px;
	background-color: rgb(17, 17, 17);
    color: rgb(189, 128, 107);
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid rgb(189, 128, 107);
    border-radius: 5px;
	display: flex;
	flex-direction: column-reverse;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#templatemo_footer_wrapper {
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_footer_bg.jpg) repeat-x;
}

#templatemo_footer {
	width: 920px;
	padding: 30px;
	margin: 0 auto;
	color: #515251;
}

#templatemo_footer a{
	text-decoration: none;
	color: #7a7a7a;
}

.section_w180 {
	float: left;
	width: 160px;
	padding: 0 20px 0 0;	
}

.section_w180_content {
	padding: 0 0 0 20px;
}

#templatemo_footer  .footer_menu_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#templatemo_footer .footer_menu_list li {
	margin: 0 0 5px 0;
	padding: 0px;
}

#templatemo_footer .footer_menu_list li a {
	color: #928b85;
	font-weight: normal;
	text-decoration: none;
}
/* end of footer */
